@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&family=Roboto:wght@100&display=swap');
* {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.6 rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
/* Responsive */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media only screen and (min-width: 1023px) {
    /* Header */
    .nav__search__form input[type='text'] {
        width: 500px;
    }
    /* Store */
    .store__content__bar {
        margin-left: -40px;
    }
    .store__content__list {
        margin-right: -50px;
    }
}
/* Media query for tablet & mobile */
@media only screen and (max-width: 1023px) {
    /* header */
    .hamburger-btn {
        display: block;
        margin-left: 30px;
    }
    .navbar__list {
        display: none;
    }
    .nav__search-btn {
        padding-right: 40px;
    }
    /* Store */
    .store__nav__right p {
        display: none;
    }
    .store__nav {
        display: block;
        width: 100%;
    }
    .store__nav__left {
        display: block;
        text-align: center;
    }
    .store__nav__right select {
       display: block;
       width: 40%;
       margin: 0 auto;
    }
    .store__bars-btn {
        display: block;
    }
}
/* Media quert for desktop */
@media only screen and (max-width: 1023px) {
    .sale__content-4 {
        display: none;
    }
    .footer__instagram {
        display: none;
    }
    .card-img-top {
        height: 100%;
        width: 100%; 
    }
    /* Store */
    .store__content__bar {
        display: none;
    }
    /* Blog */
    #blog {
        display: flex;
        flex-direction: column-reverse
    }
    .blog__content__bar {
        margin-top: 30px;
    }
    
}
/* Media query for tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Header */
    .nav__search__form input[type='text'] {
        width: 300px;
    }
}
/*  Media query for mobile */
@media only screen and (max-width: 576px) {

    /* Product section */
    .product__img-1 {
        display: none;
    }
    /* End Product section */
    
    /* Feature section */

    .feature__top h1 {
        padding: 0 20px;
    }
    .feature__nav {
        flex-wrap: wrap;
        justify-content: center;
    }
    /* End Feature section */

    /* Sale section */
    .sale__content-3 {
        display: none;
    }
    .sale__bottom__img-1,
    .sale__bottom__img-3,
    .sale__bottom__img-4,
    .sale__bottom__img-5 {
        display: none;
    }
    
    /* End Sale section */

    /* Footer section */
    .footer__menu {
        padding-left: 15px;
    }
    /* End Footer section */
    /* Contact setion */
    .contact__infor__brand {
        padding: 30px;
        justify-content: center;
    }
    .contact__infor__brand-logo img {
        padding-bottom: 20px;
        padding-left: 50px;
    }
    /* Store */
    .store__nav__right select {
        width: 80%;
    }
}